  
  {% extends 'layouts/base-presentation.html' %} {% load static%}

  {% block content%}
  
  
  <!-- -------- START HEADER 1 w/ text and image on right ------- -->
  <header>
    <div class="page-header section-height-100">
      <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(/static/assets/img/curved-images/curved11.jpg)"></div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
            <h1 class="text-gradient text-primary">Your Work With</h1>
            <h1 class="mb-4">PENINSULAR RESEARCH OPERATION</h1>
            <p class="lead pe-5 me-5">Website under construction </p>
            <div class="buttons">
              <a href='/' type="button" class="btn bg-gradient-primary mt-4">HOME</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 1 w/ text and image on right ------- -->
  
  {% endblock content%}