{% extends 'layouts/base-presentation.html' %} 
{% load static%}

{% block title %} Details {% endblock title %}



{% block content %}

  <header>
  </header>
  <br>
  <br>
  <br>
  <body>
    <div class="page-header section-height-85">
      <div>
        <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="{% static "assets/img/curved-images/curved-11.jpg"%}">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex justify-content-center flex-column">
            <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
                <h3 class="text-gradient text-primary">
                  {{ticket_details.subject}}
                  
                </h3>
                <span>
                  <small> by {{ticket_details.created_by}} on {{ticket_details.created_on  }} </small> due date: {{ticket_details.due_date}}
                </span>
                <br>
              </div>

              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Details</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Resolution</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Notes</button>
                </div>
              </nav>
              <div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <br>
                  {{ticket_details.description}}
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
{{ticket_details.insident_category}}
{{ticket_details.service_category}}


                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  {% for notes in notes_detail %}
<span>
  <p>
    {{notes.note}}
  </p>
  <span>
                  
                  {% endfor %}
                </div>
              </div>
            </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



{% endblock content %}


